article {
  float: left;
  margin-right: 2em;
}

body {
  background-color: white;
}

#header {
  background-image: "https://www.google.com/search?sa=G&hl=fr&q=landscape+banner&tbm=isch&tbs=simg:CAQSmQEJDc0yT19JAdcajQELEKjU2AQaBggVCAEICQwLELCMpwgaYgpgCAMSKJcLlgvpFZgL7BXqFZkLhQyuA4keySKxKucotTe1Lek50jisN6M36CgaMP56_10-ExA_1u3-C_1goIXz82nW5PCFAMi88Lw7KD1ZmIiDNg6V67w7TSkiL1xKqKSECAEDAsQjq7-CBoKCggIARIEyHWSbgw&ved=0ahUKEwjOyfPfuOzdAhUPfFAKHTfgCI4Qwg4IKygA";
}

#rafale {
  width: 7%;
  height: 7%;
}

.articleTitles {
  background-color: #fcab64;
  margin: 0;
}

#button {
  float: right;
}

#profile {
  margin: 2em 2em;
}

.descriptionArticles {
  background-color: #fcd29f;
  border-color: #fcab64;
  border-style: solid;
  display: inline-block;
}

/*# sourceMappingURL=css.css.map */
