article{
	float: left;
	margin-right: 2em;
}

body{
	background-color: white
}

#rafale{
	width: 7%;
	height: 7%;
}

.articleTitles{
	background-color: #fcab64;
	margin: 0;
}

#button{
	float: right;
}

#profile{
	margin: 2em 2em;
}

.descriptionArticles{
	background-color: #fcd29f;
	border-color: #fcab64;
	border-style: solid;
	display: inline-block;
}

